<main role="main" class="container">
  <div class="content">
    <h1 class="text-center main-title display-1">VideoBlender</h1>


    <my-form></my-form>

    <!--<p class="lead">Enter a video link:</p>
    <blendImg></blendImg>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="https://www.youtube.com/...">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BLEND!</button>
    </div>-->
  </div>
  <!--<img src="../assets/images/year.jpg" class="img-fluid" alt="Responsive image">
  <a href="https://vimeo.com/87742679" class="lead" target="_blank">293 Seconds - 2013</a>-->
  <h3 class="my-4 text-center blendGallery">Blending Gallery</h3>
</main>


<div id="links" class="container">

  <div class="row text-center align-items-center vid-row">

    <div class="col-sm labelText">
      <a href="../assets/images/fantasia.jpg" title="Fantasia">
        <img class="img-fluid img-thumbnail" src="../assets/images/fantasia.jpg" alt="Fantasia">
      </a>Fantasia
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/thriller.jpg" title="Michael Jackson - Thriller">
        <img class="img-fluid img-thumbnail" src="../assets/images/thriller.jpg" alt="Michael Jackson - Thriller">
      </a>Michael Jackson - Thriller
    </div>

    <div class="col-sm labelText">
      <a href="/assets/images/twoo.jpg" title="The Wizard of Oz">
        <img class="img-fluid img-thumbnail" src="../assets/images/twoo.jpg" alt="The Wizard of Oz">
      </a>The Wizard of Oz
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">
    <div class="col-sm labelText">
      <a href="../assets/images/clockwork-orange.jpg" title="A Clockwork Orange">
        <img class="img-fluid img-thumbnail" src="../assets/images/clockwork-orange.jpg" alt="A Clockwork Orange">
      </a>A Clockwork Orange
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/trainspotting.jpg" title="Trainspotting">
        <img class="img-fluid img-thumbnail" src="../assets/images/trainspotting.jpg" alt="Trainspotting">
      </a>Trainspotting
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">
    <div class="col-sm labelText">
      <a href="../assets/images/bladerunner.jpg" title="Blade Runner">
      <img class="img-fluid img-thumbnail" src="../assets/images/bladerunner.jpg" alt="Blade Runner"></a>
      <p class="font-weight-bold">Blade Runner</p>
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">

    <div class="col-sm labelText">
      <a href="../assets/images/bowieSpaceOddity.jpg" title="David Bowie - Space Oddity">
        <img class="img-fluid img-thumbnail" src="../assets/images/bowieSpaceOddity.jpg" alt="David Bowie - Space Oddity">
      </a>David Bowie - Space Oddity
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/bowieHeroes.jpg" title="David Bowie - Heroes">
        <img class="img-fluid img-thumbnail" src="../assets/images/bowieHeroes.jpg" alt="David Bowie - Heroes">
      </a>David Bowie - Heroes
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/bowieLetsDance.jpg" title="David Bowie - Let's Dance">
        <img class="img-fluid img-thumbnail" src="../assets/images/bowieLetsDance.jpg" alt="David Bowie - Let's Dance">
      </a>David Bowie - Let's Dance
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">

    <div class="col-sm labelText">
      <a href="../assets/images/bjork-notget.jpg" title="Björk - Notget)">
        <img class="img-fluid img-thumbnail" src="../assets/images/bjork-notget.jpg" alt="Björk - Notget">
      </a>Björk - Notget
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/bjork-lionsong.jpg" title="Björk - Lionsong">
        <img class="img-fluid img-thumbnail" src="../assets/images/bjork-lionsong.jpg" alt="Björk - Lionsong">
      </a>Björk - Lionsong
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/bjork-notgetVR.jpg" title="Björk - Notget video(VR)">
        <img class="img-fluid img-thumbnail" src="../assets/images/bjork-notgetVR.jpg" alt="Björk - Notget video(VR)">
      </a>Björk - Notget (VR)
    </div>

  </div>

  <div class="row text-center align-items-center vid-row">
    <div class="col-sm labelText">
      <a href="../assets/images/pg-sh.jpg" title="Peter Gabriel - Sledgehammer">
      <img class="img-fluid img-thumbnail" src="../assets/images/pg-sh.jpg" alt="Peter Gabriel - Sledgehammer"></a>
      <p class="text-center font-weight-bold">Peter Gabriel - Sledgehammer</p>
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">
    <div class="col-sm labelText">
      <a href="../assets/images/TWS-filwag.jpg" title="The White Stripes - Fell in Love With a Girl">
        <img class="img-fluid img-thumbnail" src="../assets/images/TWS-filwag.jpg" alt="The White Stripes - Fell in Love With a Girl">
      </a>The White Stripes - Fell in Love With a Girl
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/ra-nggyu.jpg" title="Rick Astley - Never Gonna Give You Up">
        <img class="img-fluid img-thumbnail" src="../assets/images/ra-nggyu.jpg" alt="Rick Astley - Never Gonna Give You Up">
      </a>Rick Astley - Never Gonna Give You Up
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">
    <div class="col-sm labelText">
      <a href="../assets/images/rushmore.jpg" title="Rushmore">
        <img class="img-fluid img-thumbnail" src="../assets/images/rushmore.jpg" alt="Rushmore">
      </a>Rushmore
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/bottlerocket.jpg" title="Bottle Rocket">
        <img class="img-fluid img-thumbnail" src="../assets/images/bottlerocket.jpg" alt="Bottle Rocket">
      </a>Bottle Rocket
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/royalTenenbaums.jpg" title="The Royal Tenenbaums">
        <img class="img-fluid img-thumbnail" src="../assets/images/royalTenenbaums.jpg" alt="The Royal Tenenbaums">
      </a>
      <p class="text-center">The Royal Tenenbaums</p>
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">
    <div class="col-sm labelText">
      <a href="../assets/images/gambino-freaks-geeks.jpg" title="Childish Gambino- Freaks & Geeks">
      <img class="img-fluid img-thumbnail" src="../assets/images/gambino-freaks-geeks.jpg" alt="Childish Gambino- Freaks & Geeks">
    </a>
      <p class="text-center font-weight-bold">Childish Gambino - Freaks & Geeks</p>
    </div>
  </div>

  <div class="row text-center align-items-center vid-row">

    <div class="col-sm labelText">
      <a href="../assets/images/SWanh.jpg" title="Star Wars: Episode IV - A New Hope">
        <img class="img-fluid img-thumbnail" src="../assets/images/SWanh.jpg" alt="Star Wars: Episode IV - A New Hope">
      </a>Star Wars: Episode IV - A New Hope
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/SWesb.jpg" title="Star Wars: Episode V - The Empire Strikes Back">
        <img class="img-fluid img-thumbnail" src="../assets/images/SWesb.jpg" alt="Star Wars: Episode V - The Empire Strikes Back">
      </a>Star Wars: Episode V - The Empire Strikes Back
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/SWrotj.jpg" title="Star Wars: Episode VI - Return of the Jedi">
        <img class="img-fluid img-thumbnail" src="../assets/images/SWrotj.jpg" alt="Star Wars: Episode VI - Return of the Jedi">
      </a>Star Wars: Episode VI - Return of the Jedi
    </div>

  </div>

  <div class="row text-center align-items-center vid-row">

    <div class="col-sm labelText">
      <a href="../assets/images/mgmt-lda.jpg" title="MGMT - Little Dark Age">
      <img class="img-fluid img-thumbnail" src="../assets/images/mgmt-lda.jpg" alt="MGMT - Little Dark Age">
    </a>MGMT - Little Dark Age
    </div>

    <div class="col-sm labelText">
      <a href="../assets/images/gnfnr.jpg" title="Guns & Roses - November Rain">
      <img class="img-fluid img-thumbnail" src="../assets/images/gnfnr.jpg" alt="Guns & Roses - November Rain">
    </a>Guns & Roses - November Rain
    </div>


  </div>
</div>








<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>










<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


<script src="../assets/js/blueimp-gallery.min.js"></script>
<script src="../assets/js/ng-blueimp-gallery.js"></script>

<script>
  document.getElementById('links').onclick = function(event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
      link = target.src ? target.parentNode : target,
      options = {
        index: link,
        event: event
      },
      links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  };
</script>
